* {
    border: 1px solid red;
    max-width: 1000px;
    margin: 0 auto;
}
.header {
    background-color: aqua;    
}
.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
img {
    width: 20%; 
   }
footer {
    display: flex;
}
.footer-section {
    width: 100%;
    text-align: center;
}
